<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>佛山一中禁毒教育园地考试系统</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="icon" href="/static/img/school.ico">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<form id="exam">
<div class="row">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h2 class="panel-title caption">考卷列表</h2>
        </div>
        <div class="panel panel-heading">
            <div class="list-group">
                <div class="col-sm-2">
                    <button type="button" class="list-group-item col-md-2 active">考试001</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="list-group-item active">考试002</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="list-group">
    <button type="button" class="list-group-item active">练习001</button>
    <button type="button" class="list-group-item">练习002</button>
</div>
</div>
</form>
</body>
</html>