<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>佛山一中禁毒教育园地考试系统</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/sweetalert2.min.css">
    <link rel="icon" href="/static/img/school.ico">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sweetalert2.min.js"></script>
</head>
<body>
<input type="hidden" id="examId" value="${exam.id!}">
<form id="exam">
<h1 align="center">佛山市第一中学禁毒考试系统</h1>
<div class="row">
<div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        考试科目：${exam.name!}
                    </div>
                    <div class="col-md-4">
                        时间：${exam.maxTime!}分钟
                    </div>
                    <div class="col-md-4">
                        得分：
                    </div>
                </div>
        </div>
</div>
</div>
<div class="row">
<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        班级：<input type="text" value="${userInfo.clazz!'空'}" disabled>
                    </div>
                    <div class="col-md-4">
                        学号：<input type="text" value="${userInfo.studentNo!}" disabled>
                    </div>
                    <div class="col-md-4">
                        姓名：<input type="text" value="${userInfo.name!}" disabled>
                    </div>
                </div>
    </div>
</div>
</div>
<#if blank??&&(blank?size>0)>
<div class="row">
<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">填空题(共:${blank?size}题)</h3>
        </div>
        <div class="panel-body">
            <#list blank as question>
            <p>${question_index + 1}.${question.title!}:<input type="text" name="${question.id!}"> </p>
            </#list>
        </div>
    </div>
</div>
</div>
</#if>
<#if single??&&(single?size>0)>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">单项选择题(共:${single?size}题)</h3>
            </div>
            <div class="panel-body">
                <#list single as question>
                <p>${question_index + 1}.${question.title!}</p>
                <#if question.options?exists>
                    <#assign jsonOptions=question.options?eval />
                    <#if jsonOptions.A?exists && jsonOptions.A!="">
                        <p><input type="radio" name="${question.id!}" value="A">(A)${jsonOptions.A!} </p>
                    </#if>
                    <#if jsonOptions.B?exists && jsonOptions.B!="">
                        <p><input type="radio" name="${question.id!}" value="B">(B)${jsonOptions.B!} </p>
                    </#if>
                    <#if jsonOptions.C?exists && jsonOptions.C!="">
                        <p><input type="radio" name="${question.id!}" value="C">(C)${jsonOptions.C!} </p>
                    </#if>
                    <#if jsonOptions.D?exists && jsonOptions.D!="">
                        <p><input type="radio" name="${question.id!}" value="D">(D)${jsonOptions.D!} </p>
                    </#if>
                </#if>
                </#list>
            </div>
        </div>
    </div>
</div>
</#if>
<#if multi??&&(multi?size>0)>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">多项选择题(共:${multi?size}题)</h3>
            </div>
            <div class="panel-body">
                <#list multi as question>
                    <p>${question_index + 1}.${question.title!}</p>
                    <#if question.options?exists>
                        <#assign jsonOptions=question.options?eval />
                        <#if jsonOptions.A?exists && jsonOptions.A!="">
                            <p><input type="checkbox" name="${question.id!}" value="A">(A)${jsonOptions.A!} </p>
                        </#if>
                        <#if jsonOptions.B?exists && jsonOptions.B!="">
                            <p><input type="checkbox" name="${question.id!}" value="B">(B)${jsonOptions.B!} </p>
                        </#if>
                        <#if jsonOptions.C?exists && jsonOptions.C!="">
                            <p><input type="checkbox" name="${question.id!}" value="C">(C)${jsonOptions.C!} </p>
                        </#if>
                        <#if jsonOptions.D?exists && jsonOptions.D!="">
                            <p><input type="checkbox" name="${question.id!}" value="D">(D)${jsonOptions.D!} </p>
                        </#if>
                    </#if>
                </#list>
            </div>
        </div>
    </div>
</div>
</#if>
<#if judge??&&(judge?size>0)>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">判断题(共:${judge?size}题)</h3>
            </div>
            <div class="panel-body">
                <#list judge as question>
                <p>${question_index + 1}.${question.title!}<input type="radio" name="${question.id!}" value="1">正确<input type="radio" name="${question.id!}" value="0">错误 </p>
                </#list>
            </div>
        </div>
    </div>
</div>
</#if>
<#if comprehension??&&(comprehension?size>0)>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">综合题 (共:${comprehension?size}题)</h3>
            </div>
            <div class="panel-body">
                <#list comprehension as question>
                ${question_index + 1}.${question.title!}
                <textarea rows="5" cols="80%" name="${question.id!}"></textarea>
                </#list>
            </div>
        </div>
    </div>
</div>
</#if>
<div class="col-md-offset-5 col-md-2">
    <button type=button class="btn btn-primary" onclick="submitForm();">提交</button>
</div>
</form>
</body>
<script type="text/javascript">
    function watermark(settings) {
        //默认设置
        var defaultSettings={
            watermark_txt:"text",
            watermark_x:20,//水印起始位置x轴坐标
            watermark_y:20,//水印起始位置Y轴坐标
            watermark_rows:20,//水印行数
            watermark_cols:6,//水印列数
            watermark_x_space:480,//水印x轴间隔
            watermark_y_space:360,//水印y轴间隔
            watermark_color:'#000000',//水印字体颜色
            watermark_alpha:0.1,//水印透明度
            watermark_fontsize:'14px',//水印字体大小
            watermark_font:'fantasy',//水印字体
            watermark_width:120,//水印宽度
            watermark_height:20,//水印长度
            watermark_angle:15//水印倾斜度数
        };
        //采用配置项替换默认值，作用类似jquery.extend
        if(arguments.length===1&&typeof arguments[0] ==="object" )
        {
            var src=arguments[0]||{};
            for(key in src)
            {
                if(src[key]&&defaultSettings[key]&&src[key]===defaultSettings[key])
                    continue;
                else if(src[key])
                    defaultSettings[key]=src[key];
            }
        }

        var oTemp = document.createDocumentFragment();

        //获取页面最大宽度
        var page_width = Math.max(document.body.scrollWidth,document.body.clientWidth);
        //获取页面最大长度
        var page_height = Math.max(document.body.scrollHeight,document.body.clientHeight);

        //如果将水印列数设置为0，或水印列数设置过大，超过页面最大宽度，则重新计算水印列数和水印x轴间隔
        if (defaultSettings.watermark_cols == 0 || (parseInt(defaultSettings.watermark_x + defaultSettings.watermark_width *defaultSettings.watermark_cols + defaultSettings.watermark_x_space * (defaultSettings.watermark_cols - 1)) > page_width)) {
            defaultSettings.watermark_cols = parseInt((page_width-defaultSettings.watermark_x+defaultSettings.watermark_x_space) / (defaultSettings.watermark_width + defaultSettings.watermark_x_space));
            defaultSettings.watermark_x_space = parseInt((page_width - defaultSettings.watermark_x - defaultSettings.watermark_width * defaultSettings.watermark_cols) / (defaultSettings.watermark_cols - 1));
        }
        //如果将水印行数设置为0，或水印行数设置过大，超过页面最大长度，则重新计算水印行数和水印y轴间隔
        if (defaultSettings.watermark_rows == 0 || (parseInt(defaultSettings.watermark_y + defaultSettings.watermark_height * defaultSettings.watermark_rows + defaultSettings.watermark_y_space * (defaultSettings.watermark_rows - 1)) > page_height)) {
            defaultSettings.watermark_rows = parseInt((defaultSettings.watermark_y_space + page_height - defaultSettings.watermark_y) / (defaultSettings.watermark_height + defaultSettings.watermark_y_space));
            defaultSettings.watermark_y_space = parseInt(((page_height - defaultSettings.watermark_y) - defaultSettings.watermark_height * defaultSettings.watermark_rows) / (defaultSettings.watermark_rows - 1));
        }
        var x;
        var y;
        for (var i = 0; i < defaultSettings.watermark_rows; i++) {
            y = defaultSettings.watermark_y + (defaultSettings.watermark_y_space + defaultSettings.watermark_height) * i;
            for (var j = 0; j < defaultSettings.watermark_cols; j++) {
                x = defaultSettings.watermark_x + (defaultSettings.watermark_width + defaultSettings.watermark_x_space) * j;

                var mask_div = document.createElement('div');
                mask_div.id = 'mask_div' + i + j;
                mask_div.appendChild(document.createTextNode(defaultSettings.watermark_txt));
                //设置水印div倾斜显示
                mask_div.style.webkitTransform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
                mask_div.style.MozTransform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
                mask_div.style.msTransform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
                mask_div.style.OTransform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
                mask_div.style.transform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
                mask_div.style.visibility = "";
                mask_div.style.position = "absolute";
                mask_div.style.left = x + 'px';
                mask_div.style.top = y + 'px';
                mask_div.style.overflow = "hidden";
                mask_div.style.zIndex = "9999";
                //mask_div.style.border="solid #eee 1px";
                mask_div.style.opacity = defaultSettings.watermark_alpha;
                mask_div.style.fontSize = defaultSettings.watermark_fontsize;
                mask_div.style.fontFamily = defaultSettings.watermark_font;
                mask_div.style.color = defaultSettings.watermark_color;
                mask_div.style.textAlign = "center";
                mask_div.style.width = defaultSettings.watermark_width + 'px';
                mask_div.style.height = defaultSettings.watermark_height + 'px';
                mask_div.style.display = "block";
                oTemp.appendChild(mask_div);
            };
        };
        document.body.appendChild(oTemp);
    }

    //		watermark({ watermark_txt: "练习练习" })//传入动态水印内容

    //onload时触发水印绘制
    window.onload=function(){
        watermark({ watermark_txt: '${mark!"佛山一中禁毒考试"}' });
    };
    //
    //onresize时触发水印绘制
    //		window.onresize = function () {
    //		 watermark({ watermark_txt: "练习练习",watermark_width:50 })
    //		};

    function submitForm() {
        var data = $('#exam').serialize();
        console.log('form表单数据是:'+data)
        //考卷id
        var examId = $('#examId').val()
        var params = {'paperId':examId,'userId':'10000','answer':data}
        $.ajax({
            type:'post',
            url:'/user/submitExam',
            async:false,
            contentType:'application/json',
            data:JSON.stringify(params),
            // dataType:'json',
            success:function (response) {
                console.log('response:'+JSON.stringify(response))
                if(response.examLogId!=null && response.examLogId>0) {
                    swal({
                        title: '提交成功!',
                        text: '本次得分:'+response.score
                    }).then(function (value) {
                        window.location = '/login.html'
                    })
                } else {
                    swal({
                        title:'提交失败,请稍后重试!',
                        text:'错误信息:'+ response.errorMsg
                    })
                }
            },
            error:function (message) {
                console.log('message:'+JSON.stringify(message))
            }
        })
    }
</script>
</html>
