<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>佛山一中</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/sweetalert2.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sweetalert2.min.js"></script>
</head>
<body>
<input type="hidden" id="examId" value="${exam.id!}">
<form id="exam">
<h1 align="center">佛山市第一中学禁毒考试系统</h1>
<div class="row">
<div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        考试科目：${exam.name!}
                    </div>
                    <div class="col-md-4">
                        时间：${exam.maxTime!}分钟
                    </div>
                    <div class="col-md-4">
                        得分：
                    </div>
                </div>
        </div>
</div>
</div>
<div class="row">
<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        班级：<input type="text">
                    </div>
                    <div class="col-md-4">
                        学号：<input type="text" >
                    </div>
                    <div class="col-md-4">
                        姓名：<input type="text" >
                    </div>
                </div>
    </div>
</div>
</div>
<#if blank??&&(blank?size>0)>
<div class="row">
<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">填空题(共:${blank?size}题)</h3>
        </div>
        <div class="panel-body">
            <#list blank as question>
            <p>${question_index + 1}.${question.title!}:<input type="text" name="${question.id!}"> </p>
            </#list>
        </div>
    </div>
</div>
</div>
</#if>
<#if single??&&(single?size>0)>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">单项选择题(共:${single?size}题)</h3>
            </div>
            <div class="panel-body">
                <#list single as question>
                <p>${question_index + 1}.${question.title!}</p>
                <#if question.options?exists>
                    <#assign jsonOptions=question.options?eval />
                    <#if jsonOptions.A?exists && jsonOptions.A!="">
                        <p><input type="radio" name="${question.id!}" value="A">(A)${jsonOptions.A!} </p>
                    </#if>
                    <#if jsonOptions.B?exists && jsonOptions.B!="">
                        <p><input type="radio" name="${question.id!}" value="B">(B)${jsonOptions.B!} </p>
                    </#if>
                    <#if jsonOptions.C?exists && jsonOptions.C!="">
                        <p><input type="radio" name="${question.id!}" value="C">(C)${jsonOptions.C!} </p>
                    </#if>
                    <#if jsonOptions.D?exists && jsonOptions.D!="">
                        <p><input type="radio" name="${question.id!}" value="D">(D)${jsonOptions.D!} </p>
                    </#if>
                </#if>
                </#list>
            </div>
        </div>
    </div>
</div>
</#if>
<#if multi??&&(multi?size>0)>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">多项选择题(共:${multi?size}题)</h3>
            </div>
            <div class="panel-body">
                <#list multi as question>
                    <p>${question_index + 1}.${question.title!}</p>
                    <#if question.options?exists>
                        <#assign jsonOptions=question.options?eval />
                        <#if jsonOptions.A?exists && jsonOptions.A!="">
                            <p><input type="checkbox" name="${question.id!}" value="A">(A)${jsonOptions.A!} </p>
                        </#if>
                        <#if jsonOptions.B?exists && jsonOptions.B!="">
                            <p><input type="checkbox" name="${question.id!}" value="B">(B)${jsonOptions.B!} </p>
                        </#if>
                        <#if jsonOptions.C?exists && jsonOptions.C!="">
                            <p><input type="checkbox" name="${question.id!}" value="C">(C)${jsonOptions.C!} </p>
                        </#if>
                        <#if jsonOptions.D?exists && jsonOptions.D!="">
                            <p><input type="checkbox" name="${question.id!}" value="D">(D)${jsonOptions.D!} </p>
                        </#if>
                    </#if>
                </#list>
            </div>
        </div>
    </div>
</div>
</#if>
<#if judge??&&(judge?size>0)>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">判断题(共:${judge?size}题)</h3>
            </div>
            <div class="panel-body">
                <#list judge as question>
                <p>${question_index + 1}.${question.title!}<input type="radio" name="${question.id!}" value="1">正确<input type="radio" name="${question.id!}" value="0">错误 </p>
                </#list>
            </div>
        </div>
    </div>
</div>
</#if>
<#if comprehension??&&(comprehension?size>0)>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">综合题 (共:${comprehension?size}题)</h3>
            </div>
            <div class="panel-body">
                <#list comprehension as question>
                ${question_index + 1}.${question.title!}
                <textarea rows="5" cols="80%" name="${question.id!}"></textarea>
                </#list>
            </div>
        </div>
    </div>
</div>
</#if>
<div class="col-md-offset-5 col-md-2">
    <button type=button class="btn btn-primary" onclick="submitForm();">提交</button>
</div>
</form>
</body>
<script type="text/javascript">
    function submitForm() {
        var data = $('#exam').serialize();
        console.log('form表单数据是:'+data)
        //考卷id
        var examId = $('#examId').val()
        var params = {'paperId':examId,'userId':'10000','answer':data}
        $.ajax({
            type:'post',
            url:'/user/submitExam',
            async:false,
            contentType:'application/json',
            data:JSON.stringify(params),
            // dataType:'json',
            success:function (response) {
                console.log('response:'+JSON.stringify(response))
                if(response.examLogId!=null && response.examLogId>0) {
                    swal({
                        title: '提交成功!',
                        text: '本次得分:'+response.score
                    }).then(function (value) {
                        window.location = '/login.html'
                    })
                } else {
                    swal({
                        title:'提交失败,请稍后重试!',
                        text:'错误信息:'+ response.errorMsg
                    })
                }
            },
            error:function (message) {
                console.log('message:'+JSON.stringify(message))
            }
        })
    }
</script>
</html>
