<#import "/_admin/lib/sidbar_templet.html" as sidbarTemplet>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>佛山一中禁毒教育园地考试系统</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="icon" href="/static/img/school.ico">
    <style>
        .backs{
            background: url("/static/img/backs1.jpg");
            background-size: 100%;
        }
    </style>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-table.min.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js"></script>
    <!--validator和timepicker同时使用时$(function失效)-->
    <!--<script src="/static/js/bootstrapValidator.min.js"></script>-->
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/exam/exam.js"></script>
    <script src="/static/exam/add-exam.js"></script>
</head>

<body class="backs">
<@sidbarTemplet.header />
<div class="container-fluid box" >
    <div class="col-xs-2 sidebar box">
        <ul class="nav nav-sidebar">
            <@sidbarTemplet.sidbar "testPaper.html" />
        </ul>
    </div>
    <div class="col-xs-10 col-xs-offset-2 content" id="content">
        <div class="tableBody">
            <div class="panel panel-primary box pad">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left" style="line-height: 20px">考卷</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body form-group">
                        <label class="col-sm-2 control-label text-right">名称:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="name" id="search_name">
                        </div>
                        <label class="col-sm-2 control-label text-right">类型:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="type" id="search_type">
                        </div>
                        <div class="col-sm-2 pull-right">
                            <button class="btn btn-primary" id="search_btn">查询</button>
                        </div>
                    </div>
                    <table id="examtab" class="table table-hover"></table>
                    <div id="toolbar" class="btn-group pull-right">
                        <button id="btn_del" type="button" class="btn btn-default" style="display: none">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true">删除</span>
                        </button>
                        <button id="btn_add" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">新增</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="addBody panel panel-primary box pad" style="width: 100%;display: none;position: absolute;top:10px">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增考卷</h5>
                    </div>
                    <div class="ibox-content">
                        <form id="addExam" method="post" class="form-horizontal" action="">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="name" id="name">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--<div class="hr-line-dashed" style="display: none"></div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">类型</label>
                                <div class="col-sm-2">
                                    <label>
                                        <input id="op-show" type="radio" name="type" value="1" checked>练习
                                    </label>
                                    <label>
                                        <input id="op-exam" type="radio" name="type" value="2">考卷
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">开始时间</label>
                                <div class="col-sm-6">
                                    <input size="24" type="text" id="startTime" name="startTime" readonly class="form_datetime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">截至时间</label>
                                <div class="col-sm-6">
                                    <input size="24" type="text" id="endTime" name="endTime" readonly class="form_datetime">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">总分</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="totalScore" id="add_totalScore">
                                </div>
                            </div>
                            <div class="hr-line-dashed">
                                <label class="col-sm-2 control-label">及格线</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="passing" id="add_passingScore">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label id="question_list">&nbsp;</label>
                                <div class="col-sm-6 col-sm-offset-1">
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                        添加考题
                                    </button>
                                </div>
                            </div>
                            <!--模态框-->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">添加考题</h4>
                                        </div>
                                        <div class="modal-body">
                                            <!--这里是选择题题库-->
                                            <table id="addexamtab" class="table table-hover"></table>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="modal_cancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button id="modal_save" type="button" class="btn btn-primary">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-2">
                                    <button type="button" class="btn btn-primary btn-block" id="add_save" onclick="saveExam()">保存</button>
                                </div>
                                <div class="col-sm-2 col-sm-offset-1">
                                    <button type="button" class="btn btn-default btn-block" id="add_back">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>