<#import "/_admin/lib/sidbar_templet.html" as sidbarTemplet>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <!--<link rel="stylesheet" href="/static/css/quanju.css" />-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/css/bootstrapValidator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/img/school.ico">
    <!--<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet"/>-->
    <!--<link href="/static/assets/data-tables/DT_bootstrap.css"/>-->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-table.min.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js"></script>
    <script src="/static/js/bootstrapValidator.min.js"></script>
    <script src="/static/exam/user.js"></script>
</head>
<style>
    .backs{

        background: url(/static/img/backs1.jpg);
        background-size:100%;
    }
    /*.box{*/
        /*box-shadow:0 0 10px #000 !important;*/
    /*}*/
    .pad{
        margin-top:1.5%;
        margin-left:0.5%;
    }
</style>
<body class="backs">
<@sidbarTemplet.header />
<div class="container-fluid box" >
    <div class="col-xs-2 sidebar box">
        <ul class="nav nav-sidebar">
            <@sidbarTemplet.sidbar "user.html" />
        </ul>
    </div>
    <div class="col-xs-10 col-xs-offset-2 content" id="content">
        <div class="tableBody">
        <div class="panel panel-primary box pad">
            <div class="panel-heading">
                <h2 class="panel-title pull-left" style="line-height: 20px">用户列表</h2>
                <div class="clearfix"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body form-group">
                    <label class="col-sm-2 control-label text-right">用户编号</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="studentNo" id="search_studentNo">
                    </div>
                    <label class="col-sm-2 control-label text-right">状态</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="status" id="search_status">
                    </div>
                    <div class="col-sm-2 pull-right">
                        <button class="btn btn-primary" id="search_btn">查询</button>
                    </div>
                </div>

            <table id="usertab" class="table table-hover"></table>
            <div id="toolbar" class="btn-group pull-right">
                <button id="btn_valid" type="button" class="btn btn-default" style="display: none">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true">审核</span>
                    </button>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>