<#import "/_admin/lib/sidbar_templet.html" as sidbarTemplet>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>佛山一中禁毒教育园地考试系统</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!--<link rel="stylesheet" href="/static/ztree/css/demo.css" type="text/css">-->
    <link rel="stylesheet" href="/static/assets/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/assets/toastr-master/toastr.css" />
    <link rel="icon" href="/static/img/school.ico">
    <script type="text/javascript" src="/static/assets/toastr-master/toastr.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" ></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/static/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="/static/ztree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/static/ztree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/static/ztree/js/jquery.ztree.exedit.js"></script>
    <script type="text/javascript">
        var setting = {
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                selectedMulti: false
            },
            edit: {
                enable: true,
                editNameSelectAll: true,
                showRemoveBtn: showRemoveBtn,
                showRenameBtn: showRenameBtn
            },
            data: {
                simpleData: {
                    enable: false,
                    idKey: "id",
                    pidKey: "parent"
                }
            },
            callback: {
                beforeDrag: beforeDrag,
                beforeEditName: beforeEditName,
                beforeRemove: beforeRemove,
                beforeRename: beforeRename,
                onRemove: onRemove,
                onRename: onRename
            }
        };

        var zNodes =[];
        $(document).ready(function(){
            console.log('加载所有分类')
            $.ajax({
                type:"post",
                async:false,
                dataType:"json",
                url:"/admin/getCatList",//getRootPath_web()获取根目录地址的方法，另一篇博客里面有
                success:function(defaultData){
                    zNodes = defaultData
                }
            });
        });
        var log, className = "dark";
        function beforeDrag(treeId, treeNodes) {
            return false;
        }
        function beforeEditName(treeId, treeNode) {
            className = (className === "dark" ? "":"dark");
            showLog("[ "+getTime()+" beforeEditName ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.selectNode(treeNode);
            setTimeout(function() {
                if (confirm("进入节点 -- " + treeNode.name + " 的编辑状态吗？")) {
                    setTimeout(function() {
                        zTree.editName(treeNode);
                    }, 0);
                }
            }, 0);
            console.log('nodeid='+treeId)
            console.log('name='+treeNode.name)
            return false;
        }
        function beforeRemove(treeId, treeNode) {
            className = (className === "dark" ? "":"dark");
            showLog("[ "+getTime()+" beforeRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.selectNode(treeNode);
            return confirm("确认删除 节点 -- " + treeNode.name + " 吗？");
        }
        function onRemove(e, treeId, treeNode) {
            //删除节点
            $.ajax({
                url: "/admin/deleteCategory",
                data:"id="+treeNode.id,
                async: false,
                success: function (data) {
                    if (data.errorCode != 0) {
                        console.log('msg='+data.errorMsg)
                        alert(treeNode.name+',删除失败!')
                    } else {
                        alert(treeNode.name+',删除成功!')
                    }
                },
                error: function (data) {
                    toastr.error('网络错误，请稍后重试!')
                }
            })
            showLog("[ "+getTime()+" onRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
        }
        function beforeRename(treeId, treeNode, newName, isCancel) {
            className = (className === "dark" ? "":"dark");
            showLog((isCancel ? "<span style='color:red'>":"") + "[ "+getTime()+" beforeRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name + (isCancel ? "</span>":""));
            if (newName.length == 0) {
                setTimeout(function() {
                    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                    zTree.cancelEditName();
                    alert("节点名称不能为空.");
                }, 0);
                return false;
            }
            if(newName==treeNode.name){
                console.log('没有修改名字')
                return false;
            }
            //判断名字是否存在
            var validFlag = true;
            $.ajax({
                    url: "/admin/validName",
                    data:"name="+newName,
                    async: false,
                    success: function (data) {
                        if (data.errorCode != 0) {
                            validFlag = false
                            console.log('======'+typeof(data.errorMsg))
                            console.log('data='+JSON.stringify(data))
                            var msg = data.errorMsg;
                            console.log('msg='+msg)
                            alert('类别名已存在!')
                            // toastr.warn('类别名已存在!')
                        }
                    },
                    error: function (data) {
                        toastr.error('网络错误，请稍后重试!')
                    }
                })
            return validFlag;
        }
        function onRename(e, treeId, treeNode, isCancel) {
            console.log('onRename treeId='+treeId)
            console.log('onRename treeNode='+treeNode.name)
            console.log('onRename isCancel='+isCancel)
            console.log('onRename e='+e)
            //保存名字
            $.ajax({
                    url:"/admin/editCategory",
                    async:false,
                    type:'POST',
                    dataType:'json',
                    contentType: "application/json;charset=UTF-8",
                    data:JSON.stringify({'id': treeNode.id, "name": treeNode.name}),
                    success:function (data) {
                        if (data && data.errorCode == 0) {
                            alert('修改成功')
                            //toastr.success('修改操作成功!', '分类');
                        } else {
                            alert('操作失败,' + data.errorMsg)
                            //toastr.error('操作失败!', '分类');
                        }
                    },
                    error:function (data) {
                        toastr.error('网络错误,请稍后重试!');
                    }
        });
            showLog((isCancel ? "<span style='color:red'>":"") + "[ "+getTime()+" onRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name + (isCancel ? "</span>":""));
        }

        function showLog(str) {
            if (!log) log = $("#log");
            log.append("<li class='"+className+"'>"+str+"</li>");
            if(log.children("li").length > 8) {
                log.get(0).removeChild(log.children("li")[0]);
            }
        }
        function getTime() {
            var now= new Date(),
                h=now.getHours(),
                m=now.getMinutes(),
                s=now.getSeconds(),
                ms=now.getMilliseconds();
            return (h+":"+m+":"+s+ " " +ms);
        }

        var newCount = 1;
        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                + "' title='add node' onfocus='this.blur();'></span>";
            sObj.after(addStr);
            var btn = $("#addBtn_"+treeNode.tId);

            if (btn) btn.bind("click", function(){
                console.log('新增节点,addHoverDom')
                console.log('新增节点id='+treeId)
                console.log('新增节点信息:'+JSON.stringify(treeNode))
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                //添加新节点
                var newId = 0;
                var newName = "新增节点" + (newCount++);
                $.ajax({
                    url:"/admin/addCategory",
                    async:false,
                    type:'POST',
                    dataType:'json',
                    contentType: "application/json;charset=UTF-8",
                    data:JSON.stringify({'parent': treeNode.id, "name": newName}),
                    success:function (data) {
                        if (data && data.errorCode == 0 && data.data) {
                            console.log('新增节点='+JSON.stringify(data))
                            newId = data.data
                            zTree.addNodes(treeNode, {id:newId, pId:treeNode.id, name:newName});
                            alert('新增成功')
                        } else {
                            alert('操作失败,' + data.errorMsg)
                        }
                    },
                    error:function (data) {
                        alert('网络错误,请稍后重试!');
                    }
                });

                return false;
            });
        };
        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
        };
        function selectAll() {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.setting.edit.editNameSelectAll =  $("#selectAll").attr("checked");
        }
        function showRemoveBtn(treeId, treeNode) {
            return !(treeNode.parent==0);
        }
        function showRenameBtn(treeId, treeNode) {
            return true;
        }
        $(document).ready(function(){
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            $("#selectAll").bind("click", selectAll);
        });
    </script>
    <style type="text/css">
        .ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
        .backs{

             background: url(/static/img/backs1.jpg);
             background-size:100%;
             background-attachment: fixed;
         }
        .box{
            box-shadow:0 0 10px #000 !important;
        }
        .pad{
            margin-top:1.5%;
            margin-left:0.5%;
        }
    </style>
</head>

<body class="backs">
<@sidbarTemplet.header />
<div class="container-fluid box">
    <div class="col-xs-2 sidebar box">
        <ul class="nav nav-sidebar">
            <@sidbarTemplet.sidbar "ztree.html" />
        </ul>
    </div>
    <div class="col-xs-10 col-xs-offset-2 content" id="content">
        <div class="panel panel-primary box pad">
            <div class="panel">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>
<!--<div class="content_wrap">
    <div class="zTreeDemoBackground left">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
</div>-->
</body>
</HTML>